images/
annotations/
results/
external/
.DS_Store
.idea/

PythonAPI/pycocoDemo.ipynb
PythonAPI/pycocotools/__init__.pyc
PythonAPI/pycocotools/_mask.c
PythonAPI/pycocotools/_mask.so
PythonAPI/pycocotools/coco.pyc
PythonAPI/pycocotools/cocoeval.pyc
PythonAPI/pycocotools/mask.pyc


#added for API use test
val2017/
cityscape/
.ipynb_checkpoints/
__pycache__/
_mask.cpython-38-darwin.so
*.ipynb
*.ipynb
